<h1> <%= @user.name %> </h1>

<p>
Height: <%= @user.height %> <br>
Tickets: <%= @user.tickets %> <br>
Nausea: <%= @user.nausea %> <br>
<!-- Happiness: <%= @user.happiness %> -->
Mood: <%= @user.mood %>
</p>